@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 224 25% 6%;
    --foreground: 210 20% 98%;

    --card: 224 25% 7%;
    --card-foreground: 210 20% 98%;

    --popover: 224 25% 6%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 224 25% 6%;

    --secondary: 217 19% 27%;
    --secondary-foreground: 210 20% 98%;

    --muted: 217 19% 15%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 19% 12%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 20% 98%;

    --border: 217 19% 15%;
    --input: 217 19% 18%;
    --ring: 212 96% 78%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}